# Microsoft Entra ID (MSAL)
VITE_AZURE_CLIENT_ID=833aa62d-01c8-4da3-a281-5cfc66b2fa04
VITE_AZURE_TENANT_ID=374e6789-398d-46ce-a951-858a67cf0f00
VITE_AZURE_REDIRECT_URI=http://localhost:5173

# API
VITE_API_BASE_URL=https://localhost:7001
VITE_API_SCOPE=api://2d500d63-e382-443e-9ac5-834d71b478fe/access_as_user
